        .container {
            width: 40%;
            padding-top: 2%;
            padding-bottom: 5%;
        }
        
        body {
            margin: 0px;
            padding: 0px;
            font-family: 'Comfortaa', cursive;
        }
        
        .header {
            border-bottom: 1px solid #eee;
            padding: 10px 0px;
            width: 100%;
            text-align: center;
            font-size: 110%;
        }
        
        #phoneNumber1 {
            border-left: none;
        }
        
        #message {
            height: 150px;
        }
        
        #list-container {
            margin-top: 20px;
            margin-bottom: 50px;
            height: 250px;
            overflow-y: scroll;
        }
        
        #error {
            color: red;
            height: 45px;
        }

        .list-group-item:hover {
            background-color: #EEEEEE;
        }
        
        @media (max-width: 767px) {
            .container {
                width: 100%;
                margin-bottom: 20px;
            }
        }